{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}

        clj-kondo/clj-kondo {:mvn/version "2022.12.10"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps {}}}}
